<div style="margin-top: 100px;" class="container">
  <h2 class="text-center" style="margin-top:100px;">Création d'un nouveau soin.</h2>
  <div class="form-inputs col-6 offset-3">
    <%= simple_form_for @care do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :price, label: "Prix (en €)" %>
    <%= f.input :duration, label: "Durée (en minutes)" %>
</div>
  <div class="form-actions">
    <p class="text-center"><%= f.button :submit, "CRÉER", class: "btn btn-success" %></p>
  </div>
  <% end %>
</div>
