<% content_for :meta_title, "Un instant pour soi - Me contacter" %>
<div style="margin-top: 100px;" class="container">
  <div class="info-form" id="message">
    <div class="info">
      <h2 class="text-center" style="margin-top: 20px;">SEILER Mathilde,</h2>
      <p class="text-center"><strong>Esthéticienne - Maquilleuse professionnelle - Prothésiste ongulaire - Technicienne en extension de cils</strong></p>
      <div class="info-hours">
        <p>Déplacement dans le pays de Bitche</p>
        <p>Disponible du Lundi au Vendredi de 9h à 19h,
          <br>et le Samedi de 8h à 17h
        </p>
      </div>
  <h5 class="text-center hook" style="margin-top:10px;">Envie de prendre un rendez-vous ? Contactez moi !</h5>
      <div class="contact-info">
        <ul style="list-style: none;">
          <li><i class="fas fa-phone-alt"></i></li>
          <li><i class="far fa-envelope"></i></li>
          <li><i class="fas fa-map-marker-alt"></i></li>
        </ul>
        <ul style="list-style: none;">
          <li><span style=" color: #D69E2E;">06.46.75.41.48</span></li>
          <li><span style="font-size:20px; color: #D69E2E;">mathilde@email.com</span></li>
          <li><span style="font-size:20px; color: #D69E2E;">Pays de Bitche et environs</span></li>
        </ul>
      </div>
    <h5 class="text-center hook">Ou laissez moi un message en me disant ce qui vous ferais plaisir et je vous recontacterais !</h5>
    </div>
    <div class="form">
      <div class="form-inputs col-12">
        <%= simple_form_for @message do |f| %>
        <%= f.input :first_last_name, label: "Nom et prénom" %>
        <%= f.input :phone, label: "Numéro de téléphone" %>
        <%= f.input :email, label: "Email" %>
        <%= f.input :city, label: "Ville de résidence" %>
        <%= f.input :object, label: "Objet" %>
        <%= f.input :content, label: "Votre message" %>
      </div>
      <div class="form-actions">
        <p class="text-center"><%= f.button :submit, "Envoyer", class: "btn btn-success" %></p>
      </div>
        <% end %>
    </div>
  </div>
</div>
