<% if user_signed_in? %>
  <div style="margin-top: 100px;" class="container">
    <h2 class="text-center" style="margin-top:100px;">Ajouter une photo à la galerie.</h2>
    <div class="form-inputs col-6 offset-3">
      <%= simple_form_for @latest do |f| %>
      <%= f.input :name, label: "Nom" %>
      <%= f.input :comment, label: "Commentaire (optionnel)" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Creer", class: "btn-submit" %>
    </div>
    <div class="form-actions">
      <p class="text-center"></p>
    </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center">Désolé vous n'avez pas l'autorisation d'être ici :)</p>
  <p class="text-center"><%= link_to "Retour à l'accueil", root_path %></p>
<% end %>
